body
{
	background: #FFFFFF;
	color: #000000;
	font: 13px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
	padding: 0px;
}
a:link, body_alink
{
	color: #000080;
	text-decoration: underline;
}
a:visited, body_avisited
{
	color: #000080;
	text-decoration: underline;
}
a:hover, a:active, body_ahover
{
	color: #0000CC;
	text-decoration: underline;
}
.page
{
	background: #FFFFFF;
	color: #000000;
}
td, th, p, li
{
	font: 13px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.tborder
{
	background: #AAAAAA;
	color: #000000;
	border: 1px solid #0B198C;
}
.tcat
{
	background: #3774A4;
	color: #FFFFFF;
	font: bold 15px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: underline;
}
.thead
{
	background: #3774A4;
	color: #FFFFFF;
	font: bold 12px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFF00;
}
.tfoot
{
	background: #3774A4;
	color: #E0E0F6;
}
.tfoot a:link, .tfoot_alink
{
	color: #E0E0F6;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFF66;
}
.alt1, .alt1Active
{
	background: #F6F6F6;
	color: #000000;
}
.alt2, .alt2Active
{
	background: #E6E6E6;
	color: #000000;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #EEEEEE;
	color: #000000;
	font: 13px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
textarea, .bginput
{
	font: 13px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 13px;
	font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.button
{
	font: 11px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
select
{
	font: 11px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.smallfont
{
	font: 11px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.time
{
	color: #666686;
}
.navbar
{
	font: 11px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F6F6F6;
	color: #000000;
}
.panel
{
	background: #FFFFFF;
	color: #000000;
	padding: 5px;
	border: 2px outset;
}
.panelsurround
{
	background: #FFFFFF;
	color: #000000;
}
legend
{
	color: #000000;
	font: 11px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serifl;
}
.vbmenu_control
{
	background: #3774A4;
	color: #FFFFFF;
	font: bold 12px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
	padding: 3px 10px 3px 10px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #BBC7CE;
	color: #000000;
	font: 11px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #000080;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #000080;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #0000CC;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font: 11px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 11pt; color: #0033AA; white-space: normal; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 6px 2px 6px; }

/* ***** de-emphasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }
.underline { text-decoration: underline; }
.forumtitle {
display: inline;
font-size: 16px;
font-weight: 600;
font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.subforumtitle {
display: inline;
font-size: 14px;
font-weight: 600;
font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
.nowrapped {
white-space: nowrap;
}
span.hidden-link {
	color: #000080;
	text-decoration: underline;
	cursor: pointer; 
}
.pagenav .pnarrow {
	font: 120% Times,sans-serif;
	line-height: 1;
}
.stg_table {
margin-top: 5px;
}
.admincomment {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #FFFFFF;
}
.modcomment {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #FFFFFF;
}
.maincomm {
 border: 1px;
 border-left: 1px solid #8394B2;
 border-top: 1px solid #8394B2;
 border-right: 1px solid #8394B2;
 border-bottom: 1px solid #8394B2;
 width: 750px; 
 margin: 5px 20px 10px;
}
.innercomm {
border: 1px; border-top: 1px solid #D0D0D0;
}
.offtopic {
margin: 10px 20px 15px 30px; color: #888888;
}
.printablecode {
margin: 15px 20px 10px 30px;
}
.inlinecode {
background: #E6E6E6; border: 1px solid #AAAAAA; padding: 0px 2px 0px 2px; display: inline-block;
}
.codeframe {
width: 805px;
overflow: auto;
}
div.head, td.head{
font-family: sans-serif; 
color: #606060; 
font-size: 11px; 
font-weight: bold; 
border-bottom: 1px solid #909090; 
padding: 2px;
width: 800px;
}
div.de1{
display:inline;
}
h1 {
display: inline;
color: inherit;
font-size: 18px;
font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
h2 {
display: inline;
color: inherit;
font-size: 17px;
font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
h3 {
display: inline;
color: inherit;
font-size: 15px;
font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
}
tr[id^=vbpostrow]:hover, tr[id^=vbpostrow]:hover td {
    background-color: #e6e6e6;
}
.select-tree {
    border: #999 solid 2px;
    overflow: auto;
    height: 40em;
    padding: 0.2em;
}
.select-tree-node {
}
.select-tree-node > .node-title > .node-title-text {
    cursor: default;
}
.select-tree > .select-tree-node.has-children > .node-title > .node-title-text {
    color: #777;
}
.select-tree > .select-tree-node.has-children > .node-title:not(:hover) {
    background: #f0f0f0;
}
.select-tree-node > .node-title:hover {
    background: #bdf;
}
.select-tree-node.selected > .node-title {
    background: #5E9FD2 !important;
}
.select-tree-node.selected > .node-title > .node-title-text {
    color: #fff !important;
}
.select-tree-node > .children {
    display: none;
    margin-left: 0.7em;
    border-left: #ccc dotted 1px;
    padding-left: 1em;
}
.select-tree-node.open > .children {
    display: block;
}
.select-tree-node > .node-title > .node-title-expander {
    display: inline-block;
    vertical-align: middle;
    border: #ccc solid 1px;
    padding: 0 0.4em;
    margin-right: 0.2em;
    font-family: monospace;
    font-size: 100%;
    cursor: pointer;
    background: white;
}
.select-tree-node.no-children > .node-title > .node-title-expander {
    visibility: hidden;
}
.select-tree-node > .node-title > .node-title-expander:before {
    content: "+";
}
.select-tree-node.open > .node-title > .node-title-expander:before {
    content: "-";
}
.select-tree.filtered .select-tree-node.matched > .node-title > .node-title-text {
    color: #00c;
}
.select-tree.filtered .select-tree-node.mismatched {
    display: none;
}
.select-filter {
    margin-bottom: 0.2em;
}
.select-filter .expander-all {
    display: inline-block;
    vertical-align: middle;
    border: #ccc solid 1px;
    padding: 0 0.4em;
    margin-left: 0.2em;
    font-family: monospace;
    font-size: 100%;
    cursor: pointer;
    background: white;
}
.select-filter .expander-all.clear {
    margin-right: 0.3em;
    color: #c00;
}
.rek{
color : brown;
font-size : 10pt;
line-height : 25px; 
}
a.rek:link {
color : brown;
font-size : 10pt;
text-decoration : underline;
}
a.rek:hover {
color : brown;
font-size : 10pt;
text-decoration : none;
}
a.rek:visited {
color : brown;
font-size : 10pt;
text-decoration : underline;
}
a.rek:active {
color: brown;
font-size : 10pt;
text-decoration : underline;
}
/* BB код [CUT] */
div.tagcut {
background-color: #FFFCE0;
border: 1px solid #CDBFA2;
padding: 5px;
margin: 5px 10px 5px 10px;
display: none;
}
/* флажок для [CUT] */
a.tagcutflag {
border-bottom: 1px dashed #0055CC;
color: #0000FF;
cursor: pointer;
}
/* BB код [off] */
div.tagoff {
background-color: #D4D0C8;
border: 1px solid #FFFFFF;
padding: 5px;
margin: 5px 10px 5px 10px;
display: none;
}
.quote_container {
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
padding-left: 10px;
}
div.bbcode_quote div.message {
	padding:8px 0px;
}
.bbcode_maincontainer {
padding-left:20px;
}
.bbcode_container {
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 10px;
	display: block;
}
.bbcode_container div.bbcode_quote {
margin-top: 0px;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
#background-color: #fcfcfc;
background-image: none;
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
#font-style: italic;
font-variant: normal;
font-weight: normal;
font-size: 13px;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
position: relative;
top: 0px;
}
.bbcode_quote_container {
background-color: transparent;
#background-image: url("//cyberstatic.net/images/misc/quote-left.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: left center;
display: block;
width: 9px;
height: 13px;
position: absolute;
left: -8px;
}
.bbcode_postedby {
font-family: verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 10pt;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
-x-system-font: none;
}
.bbcode_container div.bbcode_quote div.message {
padding-top: 8px;
padding-right: 0px;
padding-bottom: 8px;
padding-left: 0px;
}
.btbtbt {
border-left:solid 1px;
border-right:solid 1px;
border-bottom:solid 1px;
border-top:solid 1px;
border-color: #417394;
}
.moder-infraction,.moder-warning{margin:2em;margin-left:20px;margin-right:10px;width:70%!infraction;min-height:40px;clear:both;text-align:left;vertical-align:middle;border-collapse:collapse;padding:15px 20px 15px 80px;background-position:20px 50%;background-repeat:no-repeat;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.moder-infraction{background-color:#ffc;background-image:url(//cyberstatic.net/images/infractions/infraction.png);}
.moder-warning{background-color:#fdd;background-image:url(//cyberstatic.net/images/infractions/warning.png);}
#top-link{
	cursor:pointer;
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	padding:0;
	z-index:1;
}
#top-link:hover{
	background:#BCD9E7;
}
#top-link a {
	display: block;
	width: 20px;
	text-align: center;
	background: #3774a4;
	opacity: 0.6;
	color: white;
	padding: 5px 0;
	margin:5px;
	text-decoration:none !important;
}
#top-link:hover a{
	background:#000;
}
#topicon{
	width:0;
	height:0;
	display:inline-block;
	border-bottom:10px solid #3774a4;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	margin-right:0px;
	opacity: 0.8;
}
#backicon{
	width:0;
	height:0;
	display:inline-block;
	border-top:10px solid #fff;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	margin-right:0px;
}
#toptext{
	display:none;
}
input[type=checkbox] {
	transform: scale(1.3);
	margin: 5px 5px 5px 5px;
}