.thumbs-txtbtn {
    cursor: pointer;
    padding: 0 3px;
    color: #7E808C;
}
.thumbs-post-rate {
  font: bold 24px 'Myriad Pro', Myriad, Helvetica, Arial, sans-serif;
  color: #808080;
  text-align: center;
  letter-spacing: -0.05em;
  padding: 2px;
  vertical-align: middle;
}
.thumbs-up-down {
  width: 24px;
  height: 24px;
  border: 0;
  text-indent:-9999px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.thumbs-delete {
  color: #de9179;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-left: 2px;
}
.thumbs-up-icon {
  background: url(thumbs-sprite.png) no-repeat 0 0;
}
.thumbs-up-icon:hover {
  background: url(thumbs-sprite.png) no-repeat -24px 0;
}
.thumbs-rem-up-icon {
  background: url(thumbs-sprite.png) no-repeat -48px 0;
}
.thumbs-rem-up-icon:hover {
  background: url(thumbs-sprite.png) no-repeat -72px 0;
}
.thumbs-down-icon {
  background:url(thumbs-sprite.png) no-repeat -96px 0;
}
.thumbs-down-icon:hover {
  background: url(thumbs-sprite.png) no-repeat -120px 0;
}
.thumbs-rem-down-icon {
  background: url(thumbs-sprite.png) no-repeat -144px 0;
}
.thumbs-rem-down-icon:hover {
  background: url(thumbs-sprite.png) no-repeat -168px 0;
}
.thumbs-view-icon {
  background: url(thumbs-sprite.png) no-repeat -192px 0;
}
.thumbs-view-icon:hover {
  background: url(thumbs-sprite.png) no-repeat -216px 0;
}

.thumbs-updown-rg {
  width: 24px;
  height: 24px;
}
.thumbs-rg {
  display: inline-block;
  cursor: default;
  color: #808080;
  font-weight: bold;
  font-size: 10px;
}
.thumbs-pos-rg {
  display: inline-block;
  cursor: default;
  color: green;
  font-weight: bold;
  font-size: 10px;
}
.thumbs-neg-rg {
  display: inline-block;
  cursor: default;
  color: red;
  font-weight: bold;
  font-size: 10px;
}
.thumbs-up-rg-icon {
  background: url(thumbs-sprite.png) no-repeat -240px 0;
}
.thumbs-down-rg-icon {
  background: url(thumbs-sprite.png) no-repeat -264px 0;
}
.thumbs-arrow-left {
  background: url(arrow-left.png) no-repeat;
  padding: 0 12px;
  margin: 0 20px;
}
.thumbs-arrow-right {
  background: url(arrow-right.png) no-repeat;
  padding: 0 12px;
  margin: 0 20px;
}
.thumbs-arrow-left-green {
  background: url(arrow-left-green.png) no-repeat;
  padding: 0 12px;
  margin: 0 20px;
}
.thumbs-arrow-right-green {
  background: url(arrow-right-green.png) no-repeat;
  padding: 0 12px;
  margin: 0 20px;
}
.thumbs-arrow-left-red {
  background: url(arrow-left-red.png) no-repeat;
  padding: 0 12px;
  margin: 0 20px;
}
.thumbs-arrow-right-red {
  background: url(arrow-right-red.png) no-repeat;
  padding: 0 12px;
  margin: 0 20px;
}

.thumbs-rem-text:hover {
  color: #de9179;
  cursor: pointer;
}
.thumbs-shadow {
  box-shadow: 0 0 40px #000;
}
.thumbs-ajax-error {
  padding: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
}
.thumbs-block-form {
  padding: 6px;
}
.thumbs-text-field-pos {
  border: 1px solid green;
  max-width: 300px;
  width: 250px;
}
.thumbs-text-field-neg {
  border: 1px solid red;
  max-width: 300px;
  width: 250px;
}
.thumbs-button {
  border: 1px solid #cee2f2;
  width: 250px;
  background: #ffffff;
}